<%- include("partials/header.ejs") %>

<section id="about">
    <div class="container py-4">
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Our Story</h1>
            <p class="col-md-12 fs-5">
                At Dennis Blog, we're passionate about Technology. 
                Our journey began egan with a shared passion for video games and a 
                dream to create something meaningful in the world of game development. As lifelong gamers, 
                we've always been fascinated by the artistry, creativity, and technical mastery behind our 
                favorite games. We've spent countless hours exploring virtual worlds, analyzing game mechanics, 
                and marveling at the storytelling prowess of game developers. 
                With a shared vision to empower and inspire the next generation of game developers, 
                we decided to embark on a journey to create a platform where aspiring game creators could learn, 
                connect, and grow together. We wanted to demystify the game development process, provide valuable
                 resources and tutorials, and foster a supportive community where creativity thrives.
                 And thus, [Your Game Development Blog Name] was born. From humble beginnings as a small blog, 
                 we've grown into a vibrant community of game enthusiasts, developers, and industry professionals.
                  We're proud to have helped countless individuals turn their passion for games into a rewarding 
                  career in game development.
            </p>
          </div>
        </div>
    
        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
              <h2>Our Mission</h2>
              <p>
                At Dennis Blog, our mission is simple: to empower and inspire 
                the next generation of game developers. We're committed to providing aspiring creators with 
                the knowledge, tools, and support they need to succeed in the competitive world of game 
                development. Whether you're a seasoned veteran or a complete beginner, we're here to guide 
                you on your journey to game development mastery.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
              <h2>What We Cover</h2>
              <p>
                From game design and programming to art and sound, Dennis Somba 
                covers a wide range of topics related to game development. Whether you're interested in 
                learning how to create captivating narratives, design immersive gameplay experiences, or 
                optimize performance for different platforms, we've got you covered. Our team of experienced 
                developers and industry experts is dedicated to delivering high-quality tutorials, articles, 
                and resources to help you level up your game development skills.
              </p>
            </div>
          </div>
        </div>
</section>
<%- include("partials/footer.ejs") %>