<%- include("partials/header.ejs") %>

<section id="newPost">
    <div class="container py-4">
          <div class="p-5 mb-4 bg-body-tertiary rounded-3 mt-5">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold">New Post</h1>
              <form action="/" method="post" id="createPost">
                <div class="form-floating mb-3">
                  <% if(locals.postCounter) {%>
                  <input type="text" class="form-control" id="postID" name="postID" value="<%= postCounter %>" readonly>
                  <label for="exampleFormControlTextarea1" class="form-label">postID</label>
                  <% } %>
              </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Mike Omolo">
                    <label for="exampleFormControlTextarea1" class="form-label">Full Name</label>
                </div>
                <div class="input-group mb-3">
                  <input type="file" class="form-control" name="profileIMG" id="inputGroupFile02">
                  <label class="input-group-text" for="inputGroupFile02">Upload Profile Picture</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="title" name="title" placeholder="Subject">
                  <label for="exampleFormControlTextarea1" class="form-label">Subject</label>
              </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" maxlength="500" name="message" onkeydown="calculateChar()" id="PostMessage" style="height: 250px"></textarea>
                    <label for="exampleFormControlTextarea1" class="form-label">What do you want to talk about?(not more that 500 words)</label>
                </div>
                <div style="text-align: right;">
                  <h6 style="display: inline;">Characters: </h6>
                  <h6 id="count" style="display: inline;">0</h6>
                </div>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="postIMG" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">Upload Post Image</label>
                  </div>
                <button type="submit" class="btn btn-primary" formaction="/create_post">Post</button>
              </form> 
            </div>
          </div>
    </div>
</section>

<%- include("partials/footer.ejs") %>